[submodule "pathogen"]
	path = bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "yankring"]
	path = bundle/yankring
	url = git@github.com:vim-scripts/YankRing.vim.git
[submodule "delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "javascript"]
	path = bundle/javascript
	url = git@github.com:pangloss/vim-javascript.git
